BibliotecaProjectWeb/src/main/resources/wsdl/articuloespecial.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://publicadores/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://publicadores/" name="ArticuloEspecialPublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://publicadores/" schemaLocation="http://localhost:8081/articuloEspecial?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8081/articuloEspecial?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="obtenerArticuloEspecialPorDescripcion">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerArticuloEspecialPorDescripcionResponse">
<part name="return" type="tns:dtArticuloEspecial"></part>
</message>
<message name="ArticuloEspecialNoExisteException">
<part name="fault" element="tns:ArticuloEspecialNoExisteException"></part>
</message>
<message name="listarArticulosEspecialesPorPeso">
<part name="arg0" type="xsd:float"></part>
<part name="arg1" type="xsd:float"></part>
</message>
<message name="listarArticulosEspecialesPorPesoResponse">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:stringArray"></part>
</message>
<message name="existeArticuloEspecial">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeArticuloEspecialResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="obtenerArticuloEspecial">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerArticuloEspecialResponse">
<part name="return" type="tns:dtArticuloEspecial"></part>
</message>
<message name="registrarArticuloEspecial">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:float"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="registrarArticuloEspecialResponse"></message>
<message name="ArticuloEspecialRepetidoException">
<part name="fault" element="tns:ArticuloEspecialRepetidoException"></part>
</message>
<message name="DatosInvalidosException">
<part name="fault" element="tns:DatosInvalidosException"></part>
</message>
<message name="actualizarArticuloEspecial">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:float"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="actualizarArticuloEspecialResponse"></message>
<message name="listarArticulosEspeciales"></message>
<message name="listarArticulosEspecialesResponse">
<part xmlns:ns2="http://jaxb.dev.java.net/array" name="return" type="ns2:stringArray"></part>
</message>
<portType name="ArticuloEspecialPublicador">
<operation name="obtenerArticuloEspecialPorDescripcion">
<input wsam:Action="http://publicadores/ArticuloEspecialPublicador/obtenerArticuloEspecialPorDescripcionRequest" message="tns:obtenerArticuloEspecialPorDescripcion"></input>
<output wsam:Action="http://publicadores/ArticuloEspecialPublicador/obtenerArticuloEspecialPorDescripcionResponse" message="tns:obtenerArticuloEspecialPorDescripcionResponse"></output>
<fault message="tns:ArticuloEspecialNoExisteException" name="ArticuloEspecialNoExisteException" wsam:Action="http://publicadores/ArticuloEspecialPublicador/obtenerArticuloEspecialPorDescripcion/Fault/ArticuloEspecialNoExisteException"></fault>
</operation>
<operation name="listarArticulosEspecialesPorPeso" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/ArticuloEspecialPublicador/listarArticulosEspecialesPorPesoRequest" message="tns:listarArticulosEspecialesPorPeso"></input>
<output wsam:Action="http://publicadores/ArticuloEspecialPublicador/listarArticulosEspecialesPorPesoResponse" message="tns:listarArticulosEspecialesPorPesoResponse"></output>
</operation>
<operation name="existeArticuloEspecial">
<input wsam:Action="http://publicadores/ArticuloEspecialPublicador/existeArticuloEspecialRequest" message="tns:existeArticuloEspecial"></input>
<output wsam:Action="http://publicadores/ArticuloEspecialPublicador/existeArticuloEspecialResponse" message="tns:existeArticuloEspecialResponse"></output>
</operation>
<operation name="obtenerArticuloEspecial">
<input wsam:Action="http://publicadores/ArticuloEspecialPublicador/obtenerArticuloEspecialRequest" message="tns:obtenerArticuloEspecial"></input>
<output wsam:Action="http://publicadores/ArticuloEspecialPublicador/obtenerArticuloEspecialResponse" message="tns:obtenerArticuloEspecialResponse"></output>
<fault message="tns:ArticuloEspecialNoExisteException" name="ArticuloEspecialNoExisteException" wsam:Action="http://publicadores/ArticuloEspecialPublicador/obtenerArticuloEspecial/Fault/ArticuloEspecialNoExisteException"></fault>
</operation>
<operation name="registrarArticuloEspecial" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://publicadores/ArticuloEspecialPublicador/registrarArticuloEspecialRequest" message="tns:registrarArticuloEspecial"></input>
<output wsam:Action="http://publicadores/ArticuloEspecialPublicador/registrarArticuloEspecialResponse" message="tns:registrarArticuloEspecialResponse"></output>
<fault message="tns:ArticuloEspecialRepetidoException" name="ArticuloEspecialRepetidoException" wsam:Action="http://publicadores/ArticuloEspecialPublicador/registrarArticuloEspecial/Fault/ArticuloEspecialRepetidoException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/ArticuloEspecialPublicador/registrarArticuloEspecial/Fault/DatosInvalidosException"></fault>
</operation>
<operation name="actualizarArticuloEspecial" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://publicadores/ArticuloEspecialPublicador/actualizarArticuloEspecialRequest" message="tns:actualizarArticuloEspecial"></input>
<output wsam:Action="http://publicadores/ArticuloEspecialPublicador/actualizarArticuloEspecialResponse" message="tns:actualizarArticuloEspecialResponse"></output>
<fault message="tns:ArticuloEspecialNoExisteException" name="ArticuloEspecialNoExisteException" wsam:Action="http://publicadores/ArticuloEspecialPublicador/actualizarArticuloEspecial/Fault/ArticuloEspecialNoExisteException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/ArticuloEspecialPublicador/actualizarArticuloEspecial/Fault/DatosInvalidosException"></fault>
</operation>
<operation name="listarArticulosEspeciales">
<input wsam:Action="http://publicadores/ArticuloEspecialPublicador/listarArticulosEspecialesRequest" message="tns:listarArticulosEspeciales"></input>
<output wsam:Action="http://publicadores/ArticuloEspecialPublicador/listarArticulosEspecialesResponse" message="tns:listarArticulosEspecialesResponse"></output>
</operation>
</portType>
<binding name="ArticuloEspecialPublicadorPortBinding" type="tns:ArticuloEspecialPublicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="obtenerArticuloEspecialPorDescripcion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="ArticuloEspecialNoExisteException">
<soap:fault name="ArticuloEspecialNoExisteException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarArticulosEspecialesPorPeso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
</operation>
<operation name="existeArticuloEspecial">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
</operation>
<operation name="obtenerArticuloEspecial">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="ArticuloEspecialNoExisteException">
<soap:fault name="ArticuloEspecialNoExisteException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="registrarArticuloEspecial">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="ArticuloEspecialRepetidoException">
<soap:fault name="ArticuloEspecialRepetidoException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="actualizarArticuloEspecial">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="ArticuloEspecialNoExisteException">
<soap:fault name="ArticuloEspecialNoExisteException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarArticulosEspeciales">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
</operation>
</binding>
<service name="ArticuloEspecialPublicadorService">
<port name="ArticuloEspecialPublicadorPort" binding="tns:ArticuloEspecialPublicadorPortBinding">
<soap:address location="http://localhost:8081/articuloEspecial"></soap:address>
</port>
</service>
</definitions>