BibliotecaProjectWeb/src/main/resources/wsdl/autenticacion.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://publicadores/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://publicadores/" name="AutenticacionPublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://publicadores/" schemaLocation="http://localhost:1432/autenticacion?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="autenticarBibliotecario">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="autenticarBibliotecarioResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="BibliotecarioNoExisteException">
<part name="fault" element="tns:BibliotecarioNoExisteException"></part>
</message>
<message name="DatosInvalidosException">
<part name="fault" element="tns:DatosInvalidosException"></part>
</message>
<message name="cambiarPasswordLector">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="cambiarPasswordLectorResponse"></message>
<message name="LectorNoExisteException">
<part name="fault" element="tns:LectorNoExisteException"></part>
</message>
<message name="cambiarPasswordBibliotecario">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="cambiarPasswordBibliotecarioResponse"></message>
<message name="autenticarLector">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="autenticarLectorResponse">
<part name="return" type="xsd:string"></part>
</message>
<portType name="AutenticacionPublicador">
<operation name="autenticarBibliotecario" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/AutenticacionPublicador/autenticarBibliotecarioRequest" message="tns:autenticarBibliotecario"></input>
<output wsam:Action="http://publicadores/AutenticacionPublicador/autenticarBibliotecarioResponse" message="tns:autenticarBibliotecarioResponse"></output>
<fault message="tns:BibliotecarioNoExisteException" name="BibliotecarioNoExisteException" wsam:Action="http://publicadores/AutenticacionPublicador/autenticarBibliotecario/Fault/BibliotecarioNoExisteException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/AutenticacionPublicador/autenticarBibliotecario/Fault/DatosInvalidosException"></fault>
</operation>
<operation name="cambiarPasswordLector" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://publicadores/AutenticacionPublicador/cambiarPasswordLectorRequest" message="tns:cambiarPasswordLector"></input>
<output wsam:Action="http://publicadores/AutenticacionPublicador/cambiarPasswordLectorResponse" message="tns:cambiarPasswordLectorResponse"></output>
<fault message="tns:LectorNoExisteException" name="LectorNoExisteException" wsam:Action="http://publicadores/AutenticacionPublicador/cambiarPasswordLector/Fault/LectorNoExisteException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/AutenticacionPublicador/cambiarPasswordLector/Fault/DatosInvalidosException"></fault>
</operation>
<operation name="cambiarPasswordBibliotecario" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://publicadores/AutenticacionPublicador/cambiarPasswordBibliotecarioRequest" message="tns:cambiarPasswordBibliotecario"></input>
<output wsam:Action="http://publicadores/AutenticacionPublicador/cambiarPasswordBibliotecarioResponse" message="tns:cambiarPasswordBibliotecarioResponse"></output>
<fault message="tns:BibliotecarioNoExisteException" name="BibliotecarioNoExisteException" wsam:Action="http://publicadores/AutenticacionPublicador/cambiarPasswordBibliotecario/Fault/BibliotecarioNoExisteException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/AutenticacionPublicador/cambiarPasswordBibliotecario/Fault/DatosInvalidosException"></fault>
</operation>
<operation name="autenticarLector" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/AutenticacionPublicador/autenticarLectorRequest" message="tns:autenticarLector"></input>
<output wsam:Action="http://publicadores/AutenticacionPublicador/autenticarLectorResponse" message="tns:autenticarLectorResponse"></output>
<fault message="tns:LectorNoExisteException" name="LectorNoExisteException" wsam:Action="http://publicadores/AutenticacionPublicador/autenticarLector/Fault/LectorNoExisteException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/AutenticacionPublicador/autenticarLector/Fault/DatosInvalidosException"></fault>
</operation>
</portType>
<binding name="AutenticacionPublicadorPortBinding" type="tns:AutenticacionPublicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="autenticarBibliotecario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="BibliotecarioNoExisteException">
<soap:fault name="BibliotecarioNoExisteException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="cambiarPasswordLector">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="LectorNoExisteException">
<soap:fault name="LectorNoExisteException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="cambiarPasswordBibliotecario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="BibliotecarioNoExisteException">
<soap:fault name="BibliotecarioNoExisteException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="autenticarLector">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="LectorNoExisteException">
<soap:fault name="LectorNoExisteException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="AutenticacionPublicadorService">
<port name="AutenticacionPublicadorPort" binding="tns:AutenticacionPublicadorPortBinding">
<soap:address location="http://localhost:1432/autenticacion"></soap:address>
</port>
</service>
</definitions>