BibliotecaProjectWeb/src/main/resources/wsdl/bibliotecario.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://publicadores/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://publicadores/" name="BibliotecarioPublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://publicadores/" schemaLocation="http://localhost:8081/bibliotecario?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8081/bibliotecario?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="listarBibliotecarios"></message>
<message name="listarBibliotecariosResponse">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:stringArray"></part>
</message>
<message name="registrarBibliotecario">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="registrarBibliotecarioResponse"></message>
<message name="BibliotecarioRepetidoException">
<part name="fault" element="tns:BibliotecarioRepetidoException"></part>
</message>
<message name="DatosInvalidosException">
<part name="fault" element="tns:DatosInvalidosException"></part>
</message>
<message name="obtenerBibliotecario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerBibliotecarioResponse">
<part name="return" type="tns:dtBibliotecario"></part>
</message>
<message name="BibliotecarioNoExisteException">
<part name="fault" element="tns:BibliotecarioNoExisteException"></part>
</message>
<message name="registrarBibliotecarioConPassword">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="registrarBibliotecarioConPasswordResponse"></message>
<portType name="BibliotecarioPublicador">
<operation name="listarBibliotecarios">
<input wsam:Action="http://publicadores/BibliotecarioPublicador/listarBibliotecariosRequest" message="tns:listarBibliotecarios"></input>
<output wsam:Action="http://publicadores/BibliotecarioPublicador/listarBibliotecariosResponse" message="tns:listarBibliotecariosResponse"></output>
</operation>
<operation name="registrarBibliotecario" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/BibliotecarioPublicador/registrarBibliotecarioRequest" message="tns:registrarBibliotecario"></input>
<output wsam:Action="http://publicadores/BibliotecarioPublicador/registrarBibliotecarioResponse" message="tns:registrarBibliotecarioResponse"></output>
<fault message="tns:BibliotecarioRepetidoException" name="BibliotecarioRepetidoException" wsam:Action="http://publicadores/BibliotecarioPublicador/registrarBibliotecario/Fault/BibliotecarioRepetidoException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/BibliotecarioPublicador/registrarBibliotecario/Fault/DatosInvalidosException"></fault>
</operation>
<operation name="obtenerBibliotecario">
<input wsam:Action="http://publicadores/BibliotecarioPublicador/obtenerBibliotecarioRequest" message="tns:obtenerBibliotecario"></input>
<output wsam:Action="http://publicadores/BibliotecarioPublicador/obtenerBibliotecarioResponse" message="tns:obtenerBibliotecarioResponse"></output>
<fault message="tns:BibliotecarioNoExisteException" name="BibliotecarioNoExisteException" wsam:Action="http://publicadores/BibliotecarioPublicador/obtenerBibliotecario/Fault/BibliotecarioNoExisteException"></fault>
</operation>
<operation name="registrarBibliotecarioConPassword" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://publicadores/BibliotecarioPublicador/registrarBibliotecarioConPasswordRequest" message="tns:registrarBibliotecarioConPassword"></input>
<output wsam:Action="http://publicadores/BibliotecarioPublicador/registrarBibliotecarioConPasswordResponse" message="tns:registrarBibliotecarioConPasswordResponse"></output>
<fault message="tns:BibliotecarioRepetidoException" name="BibliotecarioRepetidoException" wsam:Action="http://publicadores/BibliotecarioPublicador/registrarBibliotecarioConPassword/Fault/BibliotecarioRepetidoException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/BibliotecarioPublicador/registrarBibliotecarioConPassword/Fault/DatosInvalidosException"></fault>
</operation>
</portType>
<binding name="BibliotecarioPublicadorPortBinding" type="tns:BibliotecarioPublicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="listarBibliotecarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
</operation>
<operation name="registrarBibliotecario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="BibliotecarioRepetidoException">
<soap:fault name="BibliotecarioRepetidoException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerBibliotecario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="BibliotecarioNoExisteException">
<soap:fault name="BibliotecarioNoExisteException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="registrarBibliotecarioConPassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="BibliotecarioRepetidoException">
<soap:fault name="BibliotecarioRepetidoException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="BibliotecarioPublicadorService">
<port name="BibliotecarioPublicadorPort" binding="tns:BibliotecarioPublicadorPortBinding">
<soap:address location="http://localhost:8081/bibliotecario"></soap:address>
</port>
</service>
</definitions>