BibliotecaProjectWeb/src/main/resources/wsdl/lector.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://publicadores/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://publicadores/" name="LectorPublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://publicadores/" schemaLocation="http://localhost:8081/lector?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8081/lector?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="existeLectorConEmail">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeLectorConEmailResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="obtenerLectorPorEmail">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerLectorPorEmailResponse">
<part name="return" type="tns:dtLector"></part>
</message>
<message name="LectorNoExisteException">
<part name="fault" element="tns:LectorNoExisteException"></part>
</message>
<message name="registrarLectorConPassword">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:string"></part>
</message>
<message name="registrarLectorConPasswordResponse"></message>
<message name="LectorRepetidoException">
<part name="fault" element="tns:LectorRepetidoException"></part>
</message>
<message name="DatosInvalidosException">
<part name="fault" element="tns:DatosInvalidosException"></part>
</message>
<message name="listarLectoresPorEstado">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarLectoresPorEstadoResponse">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:stringArray"></part>
</message>
<message name="cambiarEstadoLector">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="cambiarEstadoLectorResponse"></message>
<message name="listarLectoresPorZona">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarLectoresPorZonaResponse">
<part xmlns:ns2="http://jaxb.dev.java.net/array" name="return" type="ns2:stringArray"></part>
</message>
<message name="obtenerLector">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerLectorResponse">
<part name="return" type="tns:dtLector"></part>
</message>
<message name="listarLectores"></message>
<message name="listarLectoresResponse">
<part xmlns:ns3="http://jaxb.dev.java.net/array" name="return" type="ns3:stringArray"></part>
</message>
<message name="registrarLector">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:string"></part>
</message>
<message name="registrarLectorResponse"></message>
<message name="cambiarZonaLector">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="cambiarZonaLectorResponse"></message>
<portType name="LectorPublicador">
<operation name="existeLectorConEmail">
<input wsam:Action="http://publicadores/LectorPublicador/existeLectorConEmailRequest" message="tns:existeLectorConEmail"></input>
<output wsam:Action="http://publicadores/LectorPublicador/existeLectorConEmailResponse" message="tns:existeLectorConEmailResponse"></output>
</operation>
<operation name="obtenerLectorPorEmail">
<input wsam:Action="http://publicadores/LectorPublicador/obtenerLectorPorEmailRequest" message="tns:obtenerLectorPorEmail"></input>
<output wsam:Action="http://publicadores/LectorPublicador/obtenerLectorPorEmailResponse" message="tns:obtenerLectorPorEmailResponse"></output>
<fault message="tns:LectorNoExisteException" name="LectorNoExisteException" wsam:Action="http://publicadores/LectorPublicador/obtenerLectorPorEmail/Fault/LectorNoExisteException"></fault>
</operation>
<operation name="registrarLectorConPassword" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://publicadores/LectorPublicador/registrarLectorConPasswordRequest" message="tns:registrarLectorConPassword"></input>
<output wsam:Action="http://publicadores/LectorPublicador/registrarLectorConPasswordResponse" message="tns:registrarLectorConPasswordResponse"></output>
<fault message="tns:LectorRepetidoException" name="LectorRepetidoException" wsam:Action="http://publicadores/LectorPublicador/registrarLectorConPassword/Fault/LectorRepetidoException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/LectorPublicador/registrarLectorConPassword/Fault/DatosInvalidosException"></fault>
</operation>
<operation name="listarLectoresPorEstado">
<input wsam:Action="http://publicadores/LectorPublicador/listarLectoresPorEstadoRequest" message="tns:listarLectoresPorEstado"></input>
<output wsam:Action="http://publicadores/LectorPublicador/listarLectoresPorEstadoResponse" message="tns:listarLectoresPorEstadoResponse"></output>
</operation>
<operation name="cambiarEstadoLector" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/LectorPublicador/cambiarEstadoLectorRequest" message="tns:cambiarEstadoLector"></input>
<output wsam:Action="http://publicadores/LectorPublicador/cambiarEstadoLectorResponse" message="tns:cambiarEstadoLectorResponse"></output>
<fault message="tns:LectorNoExisteException" name="LectorNoExisteException" wsam:Action="http://publicadores/LectorPublicador/cambiarEstadoLector/Fault/LectorNoExisteException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/LectorPublicador/cambiarEstadoLector/Fault/DatosInvalidosException"></fault>
</operation>
<operation name="listarLectoresPorZona">
<input wsam:Action="http://publicadores/LectorPublicador/listarLectoresPorZonaRequest" message="tns:listarLectoresPorZona"></input>
<output wsam:Action="http://publicadores/LectorPublicador/listarLectoresPorZonaResponse" message="tns:listarLectoresPorZonaResponse"></output>
</operation>
<operation name="obtenerLector">
<input wsam:Action="http://publicadores/LectorPublicador/obtenerLectorRequest" message="tns:obtenerLector"></input>
<output wsam:Action="http://publicadores/LectorPublicador/obtenerLectorResponse" message="tns:obtenerLectorResponse"></output>
<fault message="tns:LectorNoExisteException" name="LectorNoExisteException" wsam:Action="http://publicadores/LectorPublicador/obtenerLector/Fault/LectorNoExisteException"></fault>
</operation>
<operation name="listarLectores">
<input wsam:Action="http://publicadores/LectorPublicador/listarLectoresRequest" message="tns:listarLectores"></input>
<output wsam:Action="http://publicadores/LectorPublicador/listarLectoresResponse" message="tns:listarLectoresResponse"></output>
</operation>
<operation name="registrarLector" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://publicadores/LectorPublicador/registrarLectorRequest" message="tns:registrarLector"></input>
<output wsam:Action="http://publicadores/LectorPublicador/registrarLectorResponse" message="tns:registrarLectorResponse"></output>
<fault message="tns:LectorRepetidoException" name="LectorRepetidoException" wsam:Action="http://publicadores/LectorPublicador/registrarLector/Fault/LectorRepetidoException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/LectorPublicador/registrarLector/Fault/DatosInvalidosException"></fault>
</operation>
<operation name="cambiarZonaLector" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/LectorPublicador/cambiarZonaLectorRequest" message="tns:cambiarZonaLector"></input>
<output wsam:Action="http://publicadores/LectorPublicador/cambiarZonaLectorResponse" message="tns:cambiarZonaLectorResponse"></output>
<fault message="tns:LectorNoExisteException" name="LectorNoExisteException" wsam:Action="http://publicadores/LectorPublicador/cambiarZonaLector/Fault/LectorNoExisteException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/LectorPublicador/cambiarZonaLector/Fault/DatosInvalidosException"></fault>
</operation>
</portType>
<binding name="LectorPublicadorPortBinding" type="tns:LectorPublicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="existeLectorConEmail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
</operation>
<operation name="obtenerLectorPorEmail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="LectorNoExisteException">
<soap:fault name="LectorNoExisteException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="registrarLectorConPassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="LectorRepetidoException">
<soap:fault name="LectorRepetidoException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarLectoresPorEstado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
</operation>
<operation name="cambiarEstadoLector">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="LectorNoExisteException">
<soap:fault name="LectorNoExisteException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarLectoresPorZona">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
</operation>
<operation name="obtenerLector">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="LectorNoExisteException">
<soap:fault name="LectorNoExisteException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarLectores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
</operation>
<operation name="registrarLector">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="LectorRepetidoException">
<soap:fault name="LectorRepetidoException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="cambiarZonaLector">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="LectorNoExisteException">
<soap:fault name="LectorNoExisteException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="LectorPublicadorService">
<port name="LectorPublicadorPort" binding="tns:LectorPublicadorPortBinding">
<soap:address location="http://localhost:8081/lector"></soap:address>
</port>
</service>
</definitions>