BibliotecaProjectWeb/src/main/resources/wsdl/libro.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://publicadores/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://publicadores/" name="LibroPublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://publicadores/" schemaLocation="http://localhost:1432/libro?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:1432/libro?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="obtenerLibroPorTitulo">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerLibroPorTituloResponse">
<part name="return" type="tns:dtLibro"></part>
</message>
<message name="LibroNoExisteException">
<part name="fault" element="tns:LibroNoExisteException"></part>
</message>
<message name="listarLibrosPorPaginas">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="listarLibrosPorPaginasResponse">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:stringArray"></part>
</message>
<message name="registrarLibro">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="registrarLibroResponse"></message>
<message name="LibroRepetidoException">
<part name="fault" element="tns:LibroRepetidoException"></part>
</message>
<message name="DatosInvalidosException">
<part name="fault" element="tns:DatosInvalidosException"></part>
</message>
<message name="obtenerLibro">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerLibroResponse">
<part name="return" type="tns:dtLibro"></part>
</message>
<message name="listarLibros"></message>
<message name="listarLibrosResponse">
<part xmlns:ns2="http://jaxb.dev.java.net/array" name="return" type="ns2:stringArray"></part>
</message>
<message name="existeLibro">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeLibroResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="actualizarLibro">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:int"></part>
</message>
<message name="actualizarLibroResponse"></message>
<portType name="LibroPublicador">
<operation name="obtenerLibroPorTitulo">
<input wsam:Action="http://publicadores/LibroPublicador/obtenerLibroPorTituloRequest" message="tns:obtenerLibroPorTitulo"></input>
<output wsam:Action="http://publicadores/LibroPublicador/obtenerLibroPorTituloResponse" message="tns:obtenerLibroPorTituloResponse"></output>
<fault message="tns:LibroNoExisteException" name="LibroNoExisteException" wsam:Action="http://publicadores/LibroPublicador/obtenerLibroPorTitulo/Fault/LibroNoExisteException"></fault>
</operation>
<operation name="listarLibrosPorPaginas" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/LibroPublicador/listarLibrosPorPaginasRequest" message="tns:listarLibrosPorPaginas"></input>
<output wsam:Action="http://publicadores/LibroPublicador/listarLibrosPorPaginasResponse" message="tns:listarLibrosPorPaginasResponse"></output>
</operation>
<operation name="registrarLibro" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/LibroPublicador/registrarLibroRequest" message="tns:registrarLibro"></input>
<output wsam:Action="http://publicadores/LibroPublicador/registrarLibroResponse" message="tns:registrarLibroResponse"></output>
<fault message="tns:LibroRepetidoException" name="LibroRepetidoException" wsam:Action="http://publicadores/LibroPublicador/registrarLibro/Fault/LibroRepetidoException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/LibroPublicador/registrarLibro/Fault/DatosInvalidosException"></fault>
</operation>
<operation name="obtenerLibro">
<input wsam:Action="http://publicadores/LibroPublicador/obtenerLibroRequest" message="tns:obtenerLibro"></input>
<output wsam:Action="http://publicadores/LibroPublicador/obtenerLibroResponse" message="tns:obtenerLibroResponse"></output>
<fault message="tns:LibroNoExisteException" name="LibroNoExisteException" wsam:Action="http://publicadores/LibroPublicador/obtenerLibro/Fault/LibroNoExisteException"></fault>
</operation>
<operation name="listarLibros">
<input wsam:Action="http://publicadores/LibroPublicador/listarLibrosRequest" message="tns:listarLibros"></input>
<output wsam:Action="http://publicadores/LibroPublicador/listarLibrosResponse" message="tns:listarLibrosResponse"></output>
</operation>
<operation name="existeLibro">
<input wsam:Action="http://publicadores/LibroPublicador/existeLibroRequest" message="tns:existeLibro"></input>
<output wsam:Action="http://publicadores/LibroPublicador/existeLibroResponse" message="tns:existeLibroResponse"></output>
</operation>
<operation name="actualizarLibro" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://publicadores/LibroPublicador/actualizarLibroRequest" message="tns:actualizarLibro"></input>
<output wsam:Action="http://publicadores/LibroPublicador/actualizarLibroResponse" message="tns:actualizarLibroResponse"></output>
<fault message="tns:LibroNoExisteException" name="LibroNoExisteException" wsam:Action="http://publicadores/LibroPublicador/actualizarLibro/Fault/LibroNoExisteException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/LibroPublicador/actualizarLibro/Fault/DatosInvalidosException"></fault>
</operation>
</portType>
<binding name="LibroPublicadorPortBinding" type="tns:LibroPublicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="obtenerLibroPorTitulo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="LibroNoExisteException">
<soap:fault name="LibroNoExisteException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarLibrosPorPaginas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
</operation>
<operation name="registrarLibro">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="LibroRepetidoException">
<soap:fault name="LibroRepetidoException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerLibro">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="LibroNoExisteException">
<soap:fault name="LibroNoExisteException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarLibros">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
</operation>
<operation name="existeLibro">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
</operation>
<operation name="actualizarLibro">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="LibroNoExisteException">
<soap:fault name="LibroNoExisteException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="LibroPublicadorService">
<port name="LibroPublicadorPort" binding="tns:LibroPublicadorPortBinding">
<soap:address location="http://localhost:1432/libro"></soap:address>
</port>
</service>
</definitions>