BibliotecaProjectWeb/src/main/resources/wsdl/prestamo.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://publicadores/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://publicadores/" name="PrestamoPublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://publicadores/" schemaLocation="http://localhost:1432/prestamo?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:1432/prestamo?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="cambiarEstadoPrestamo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="cambiarEstadoPrestamoResponse"></message>
<message name="PrestamoNoExisteException">
<part name="fault" element="tns:PrestamoNoExisteException"></part>
</message>
<message name="DatosInvalidosException">
<part name="fault" element="tns:DatosInvalidosException"></part>
</message>
<message name="listarPrestamosPorMaterial">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarPrestamosPorMaterialResponse">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:stringArray"></part>
</message>
<message name="listarPrestamosPorEstado">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarPrestamosPorEstadoResponse">
<part xmlns:ns2="http://jaxb.dev.java.net/array" name="return" type="ns2:stringArray"></part>
</message>
<message name="listarPrestamosPorLector">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarPrestamosPorLectorResponse">
<part xmlns:ns3="http://jaxb.dev.java.net/array" name="return" type="ns3:stringArray"></part>
</message>
<message name="listarPrestamos"></message>
<message name="listarPrestamosResponse">
<part xmlns:ns4="http://jaxb.dev.java.net/array" name="return" type="ns4:stringArray"></part>
</message>
<message name="obtenerPrestamo">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerPrestamoResponse">
<part name="return" type="tns:dtPrestamo"></part>
</message>
<message name="modificarPrestamo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:string"></part>
</message>
<message name="modificarPrestamoResponse"></message>
<message name="devolverPrestamo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="devolverPrestamoResponse"></message>
<message name="registrarPrestamo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
</message>
<message name="registrarPrestamoResponse"></message>
<portType name="PrestamoPublicador">
<operation name="cambiarEstadoPrestamo" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/PrestamoPublicador/cambiarEstadoPrestamoRequest" message="tns:cambiarEstadoPrestamo"></input>
<output wsam:Action="http://publicadores/PrestamoPublicador/cambiarEstadoPrestamoResponse" message="tns:cambiarEstadoPrestamoResponse"></output>
<fault message="tns:PrestamoNoExisteException" name="PrestamoNoExisteException" wsam:Action="http://publicadores/PrestamoPublicador/cambiarEstadoPrestamo/Fault/PrestamoNoExisteException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/PrestamoPublicador/cambiarEstadoPrestamo/Fault/DatosInvalidosException"></fault>
</operation>
<operation name="listarPrestamosPorMaterial">
<input wsam:Action="http://publicadores/PrestamoPublicador/listarPrestamosPorMaterialRequest" message="tns:listarPrestamosPorMaterial"></input>
<output wsam:Action="http://publicadores/PrestamoPublicador/listarPrestamosPorMaterialResponse" message="tns:listarPrestamosPorMaterialResponse"></output>
</operation>
<operation name="listarPrestamosPorEstado">
<input wsam:Action="http://publicadores/PrestamoPublicador/listarPrestamosPorEstadoRequest" message="tns:listarPrestamosPorEstado"></input>
<output wsam:Action="http://publicadores/PrestamoPublicador/listarPrestamosPorEstadoResponse" message="tns:listarPrestamosPorEstadoResponse"></output>
</operation>
<operation name="listarPrestamosPorLector">
<input wsam:Action="http://publicadores/PrestamoPublicador/listarPrestamosPorLectorRequest" message="tns:listarPrestamosPorLector"></input>
<output wsam:Action="http://publicadores/PrestamoPublicador/listarPrestamosPorLectorResponse" message="tns:listarPrestamosPorLectorResponse"></output>
</operation>
<operation name="listarPrestamos">
<input wsam:Action="http://publicadores/PrestamoPublicador/listarPrestamosRequest" message="tns:listarPrestamos"></input>
<output wsam:Action="http://publicadores/PrestamoPublicador/listarPrestamosResponse" message="tns:listarPrestamosResponse"></output>
</operation>
<operation name="obtenerPrestamo">
<input wsam:Action="http://publicadores/PrestamoPublicador/obtenerPrestamoRequest" message="tns:obtenerPrestamo"></input>
<output wsam:Action="http://publicadores/PrestamoPublicador/obtenerPrestamoResponse" message="tns:obtenerPrestamoResponse"></output>
<fault message="tns:PrestamoNoExisteException" name="PrestamoNoExisteException" wsam:Action="http://publicadores/PrestamoPublicador/obtenerPrestamo/Fault/PrestamoNoExisteException"></fault>
</operation>
<operation name="modificarPrestamo" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://publicadores/PrestamoPublicador/modificarPrestamoRequest" message="tns:modificarPrestamo"></input>
<output wsam:Action="http://publicadores/PrestamoPublicador/modificarPrestamoResponse" message="tns:modificarPrestamoResponse"></output>
<fault message="tns:PrestamoNoExisteException" name="PrestamoNoExisteException" wsam:Action="http://publicadores/PrestamoPublicador/modificarPrestamo/Fault/PrestamoNoExisteException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/PrestamoPublicador/modificarPrestamo/Fault/DatosInvalidosException"></fault>
</operation>
<operation name="devolverPrestamo" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/PrestamoPublicador/devolverPrestamoRequest" message="tns:devolverPrestamo"></input>
<output wsam:Action="http://publicadores/PrestamoPublicador/devolverPrestamoResponse" message="tns:devolverPrestamoResponse"></output>
<fault message="tns:PrestamoNoExisteException" name="PrestamoNoExisteException" wsam:Action="http://publicadores/PrestamoPublicador/devolverPrestamo/Fault/PrestamoNoExisteException"></fault>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/PrestamoPublicador/devolverPrestamo/Fault/DatosInvalidosException"></fault>
</operation>
<operation name="registrarPrestamo" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://publicadores/PrestamoPublicador/registrarPrestamoRequest" message="tns:registrarPrestamo"></input>
<output wsam:Action="http://publicadores/PrestamoPublicador/registrarPrestamoResponse" message="tns:registrarPrestamoResponse"></output>
<fault message="tns:DatosInvalidosException" name="DatosInvalidosException" wsam:Action="http://publicadores/PrestamoPublicador/registrarPrestamo/Fault/DatosInvalidosException"></fault>
</operation>
</portType>
<binding name="PrestamoPublicadorPortBinding" type="tns:PrestamoPublicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="cambiarEstadoPrestamo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="PrestamoNoExisteException">
<soap:fault name="PrestamoNoExisteException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarPrestamosPorMaterial">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
</operation>
<operation name="listarPrestamosPorEstado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
</operation>
<operation name="listarPrestamosPorLector">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
</operation>
<operation name="listarPrestamos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
</operation>
<operation name="obtenerPrestamo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="PrestamoNoExisteException">
<soap:fault name="PrestamoNoExisteException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modificarPrestamo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="PrestamoNoExisteException">
<soap:fault name="PrestamoNoExisteException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="devolverPrestamo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="PrestamoNoExisteException">
<soap:fault name="PrestamoNoExisteException" use="literal"></soap:fault>
</fault>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="registrarPrestamo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"></soap:body>
</output>
<fault name="DatosInvalidosException">
<soap:fault name="DatosInvalidosException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PrestamoPublicadorService">
<port name="PrestamoPublicadorPort" binding="tns:PrestamoPublicadorPortBinding">
<soap:address location="http://localhost:1432/prestamo"></soap:address>
</port>
</service>
</definitions>